/* ======================
   NAVBAR
====================== */

.navbar {
  display: flex;
  gap: 28px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.25s ease;
}

.navbar a:hover {
  color: #38bdf8;
}

.navbar a:hover::after {
  width: 100%;
}


.navbar-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT (LOGO) */
.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #38bdf8;
  text-decoration: none;
  letter-spacing: 0.08em;
}

/* RIGHT (LINKS) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-right a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.25s ease;
}

.navbar-right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.25s ease;
}

.navbar-right a:hover {
  color: #38bdf8;
}

.navbar-right a:hover::after {
  width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar-right {
    gap: 18px;
  }

  .navbar-logo {
    font-size: 1.2rem;
  }
}
